.contenedor {
    width: 100%;
    min-height: 100vh;
    background: var(--background-principal);
    padding: 20px;
}

.contenido__usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.divider {
    height: 1px;
    background-color: var(--background-secundario);
    margin: 20px 0;
}

.informacion__usuario {
    display: flex;
    align-items: center;
}

.informacion__usuario h2 {
    font-size: 1rem;
    font-weight: bold;
}

.material-symbols-outlined {
    font-size: 2rem;
    background-color: var(--background-principal);
    color: var(--background-secundario);
}

.informacion__usuario .material-symbols-outlined {
    font-size: 3rem;
}

#btnSalir,
#btnRegresa-menuPrincipal,
.btnRegresar {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


#btnRegresa-menuPrincipal h3 {
    font-size: 1.2rem;
}

.contenido {
    width: 100%;
}

/* TITULOS */
.titulo {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.titulo h1,
.titulo h2 {
    font-family: var(--font-Titulos);
    font-size: 2rem;
    font-weight: 500;
}

/* REGRESAR */
.btnRegresar {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btnRegresar h3 {
    font-size: 1.2rem;
}
