.contenido__tarjetas {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 35px;
    margin-top: 90px;
}

.tarjeta__menu {
    width: 95%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--card-border);
    box-shadow: var(--shadow-card);
    background: var(--card-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.tarjeta__menu h1 {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.tarjeta__menu p {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.tarjeta__menu:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 9px var(--card-border);
}